@page
@model Plum.Pages.Accounts.Create

@{
    ViewData["Title"] = "Account - Create";
}

<h4>Create Account</h4>
<hr/>

<form method="post">
    <div>
        <label asp-for="Account.Name"></label>
        <input asp-for="Account.Name" class="form-control"/>
        <span asp-validation-for="Account.Name" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Create</button>
</form>